# blacklist datasets
/datasets/*/*
/datasets/video_test

# whitelist dataset prep
!/datasets/*/*.sh
!/datasets/*/*.py
!/datasets/*/*.csv

# saved models folder
/models/saved/**.pdf
/models/saved/**/*.png

*/__pycache__/*
